[Unit]
Description=Keyboard EVTest Logger
Requires=setup-usb.service
After=multi-user.target

[Service]
Type=simple

# Ensure log directory + file exist with correct perms
ExecStartPre=wait 100

ExecStart=python3 /home/debian/readevttest.py -d /dev/input/event1\
  --output /home/debian/keyboard_log.txt

# auto-restart on crash
Restart=always
RestartSec=500ms

# needs root to read /dev/input/event*
User=root

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=keyboard-logger

[Install]
WantedBy=multi-user.target
